<footer>
    <h4>  © SocialBuzz|| Author- Sourav Jaiswal </h4> 

    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="#">Back to top</a>
        </li>
    </ul>
</footer> 